:root {
  height: auto;
  width: auto;
  --primary-bg: #323437;
  --secondary-bg: #2c2e31;
  --primary-fg: #646669;
  --secondary-fg: #5c5e61;
  --heading-fg: #d1d0c5;
  --primary-yellow: #e2b714;
  --hover-color: #d1d0c5;
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  font-size: 20px;
}

.button {
	text-align: center;
	background-color: var(--primary-yellow);
	color: var(--primary-fg);
	font-size: 20px;

	border-radius: 20px;
	border: 0px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.button:hover {
	color: var(--hover-color);

}

